aiofiles
aiohttp
apscheduler
beautifulsoup4
dnspython
gitpython
hachoir
httpx
humanize
requests
python-dotenv
pyyaml
unidecode
tgcrypto
pyrofork
ffmpeg-python
py-tgcalls
ntgcalls
motor
psutil
heroku3
Pillow
speedtest-cli
yt-dlp
youtube-search
youtube-search-python
py-yt-search
spotipy
prettytable
openai
pykeyboard
numpy
PyGithub
